@model AddMitzvahResult
@{
    Layout = "_ColorfulBodyLayout";
}
<h1 class="fun">Great Job, @Model.Name.</h1>
<h2 class="fun">You did a Mitzvah and earned @Model.Points points!</h2>
<div id="bubbles">
    <div class="bubble x1">
        <svg width="120" height="500">
            <ellipse rx="60" ry="80" cx="60" cy="80" fill="gold" />
            <polygon points="50,170 60,160 70,170" fill="gold" />
            <polyline points="60,170 70,200, 55,230 70,260, 55,290 70,320" fill="none" stroke-width="1" stroke="brown" />
        </svg>
    </div>
    <div class="bubble x2">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x3">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x4">
        <svg width="120" height="500">
            <ellipse rx="60" ry="80" cx="60" cy="80" fill="gold" />
            <polygon points="50,170 60,160 70,170" fill="gold" />
            <polyline points="60,170 70,200, 55,230 70,260, 55,290 70,320" fill="none" stroke-width="1" stroke="brown" />
        </svg>
    </div>
    <div class="bubble x5">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x6">
        <svg width="120" height="500">
            <ellipse rx="60" ry="80" cx="60" cy="80" fill="gold" />
            <polygon points="50,170 60,160 70,170" fill="gold" />
            <polyline points="60,170 70,200, 55,230 70,260, 55,290 70,320" fill="none" stroke-width="1" stroke="brown" />
        </svg>
    </div>
    <div class="bubble x7">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x8">
        <svg width="120" height="500">
            <ellipse rx="60" ry="80" cx="60" cy="80" fill="gold" />
            <polygon points="50,170 60,160 70,170" fill="gold" />
            <polyline points="60,170 70,200, 55,230 70,260, 55,290 70,320" fill="none" stroke-width="1" stroke="brown" />
        </svg>
    </div>
    <div class="bubble x9">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x10">
        <svg width="120" height="500">
            <ellipse rx="60" ry="80" cx="60" cy="80" fill="gold" />
            <polygon points="50,170 60,160 70,170" fill="gold" />
            <polyline points="60,170 70,200, 55,230 70,260, 55,290 70,320" fill="none" stroke-width="1" stroke="brown" />
        </svg>
    </div>
    <div class="bubble x11">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x12">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x13">
        <svg width="120" height="500">
            <ellipse rx="60" ry="80" cx="60" cy="80" fill="gold" />
            <polygon points="50,170 60,160 70,170" fill="gold" />
            <polyline points="60,170 70,200, 55,230 70,260, 55,290 70,320" fill="none" stroke-width="1" stroke="brown" />
        </svg>
    </div>
    <div class="bubble x14">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x15">
        <svg width="120" height="500">
            <ellipse rx="60" ry="80" cx="60" cy="80" fill="gold" />
            <polygon points="50,170 60,160 70,170" fill="gold" />
            <polyline points="60,170 70,200, 55,230 70,260, 55,290 70,320" fill="none" stroke-width="1" stroke="brown" />
        </svg>
    </div>
    <div class="bubble x16">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x17">
        <svg width="120" height="500">
            <ellipse rx="60" ry="80" cx="60" cy="80" fill="gold" />
            <polygon points="50,170 60,160 70,170" fill="gold" />
            <polyline points="60,170 70,200, 55,230 70,260, 55,290 70,320" fill="none" stroke-width="1" stroke="brown" />
        </svg>
    </div>
    <div class="bubble x18">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
    <div class="bubble x19">
        <svg width="360" height="500">
            <circle r="100" cx="100" cy="100" fill="crimson" />
            <polyline points="100,210 110,230, 95,260 110,290, 95,320 110,350" fill="none" stroke-width="1" stroke="brown" />
            <polygon points="90,210 100,200 110,210" fill="crimson" />
        </svg>
    </div>
</div>
<style>
    html, body, #bubbles { height: 100% }
    body { overflow: hidden }
    #bubbles { padding: 100px 0 }

    .bubble {

        position: absolute;
    }

    .x1 {
        left: 5vw;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.4;
        -webkit-animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -moz-animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -o-animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }

    .x2 {
        left: 7vw;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.5;
        -webkit-animation: moveclouds 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -moz-animation: moveclouds 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -o-animation: moveclouds 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
    }
    .x3 {
        left: 11vw;
        -webkit-transform: scale(1.8);
        -moz-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0.6;
        -webkit-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -moz-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -o-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
    }
    .x4 {
        left: 17vw;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        transform: scale(1.25);
        opacity: 0.4;
        -webkit-animation: moveclouds 8s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -moz-animation: moveclouds 8s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -o-animation: moveclouds 8s linear infinite, sideWays 3s ease-in-out infinite alternate;
    }
    .x5 {
        left: 22vw;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
        -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }
    .x6 {
        left: 25vw;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.7;
        -webkit-animation: moveclouds 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -moz-animation: moveclouds 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -o-animation: moveclouds 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
    }
    .x7 {
        left: 35vw;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 0.4;
        -webkit-animation: moveclouds 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -moz-animation: moveclouds 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -o-animation: moveclouds 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
    }
    .x8 {
        left: 45vw;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.6;
        -webkit-animation: moveclouds 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -moz-animation: moveclouds 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -o-animation: moveclouds 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
    }
    .x9 {
        left: 55vw;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
        -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }
    .x10 {
        left: 55vw;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.5;
        -webkit-animation: moveclouds 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -moz-animation: moveclouds 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -o-animation: moveclouds 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
    }
    .x11 {
        left: 65vw;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.4;
        -webkit-animation: moveclouds 8s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -moz-animation: moveclouds 8s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -o-animation: moveclouds 8s linear infinite, sideWays 4s ease-in-out infinite alternate;
    }

    .x12 {
        left: 69vw;
        -webkit-transform: scale(1.6);
        -moz-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0.5;
        -webkit-animation: moveclouds 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -moz-animation: moveclouds 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -o-animation: moveclouds 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
    }

    .x13 {
        left: 75vw;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.7;
        -webkit-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -moz-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -o-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
    }

    .x14 {
        left: 78vw;
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        transform: scale(0.75);
        opacity: 0.4;
        -webkit-animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -moz-animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -o-animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }

    .x15 {
        left: 82vw;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
        -webkit-animation: moveclouds 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -moz-animation: moveclouds 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -o-animation: moveclouds 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
    }

    .x16 {
        left: 85vw;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
        opacity: 0.6;
        -webkit-animation: moveclouds 8s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -moz-animation: moveclouds 8s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -o-animation: moveclouds 8s linear infinite, sideWays 3s ease-in-out infinite alternate;
    }

    .x17 {
        left: 90vw;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0.5;
        -webkit-animation: moveclouds 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -moz-animation: moveclouds 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -o-animation: moveclouds 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }

    .x18 {
        left: 92vw;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.7;
        -webkit-animation: moveclouds 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -moz-animation: moveclouds 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -o-animation: moveclouds 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
    }

    .x19 {
        left: 96vw;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.6;
        -webkit-animation: moveclouds 3s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -moz-animation: moveclouds 3s linear infinite, sideWays 1s ease-in-out infinite alternate;
        -o-animation: moveclouds 3s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }
    @@-webkit-keyframes moveclouds {
        0% {
            top: 110vh;
        }
        100% {
            top: -30vh;
        }
    }

    @@-webkit-keyframes sideWays {
        0% {
            margin-left:0px;
        }
        100% {
            margin-left:50px;
        }
    }

    @@-moz-keyframes moveclouds {
        0% {
            top: 110vh;
        }

        100% {
            top: -30vh;
        }
    }

    @@-moz-keyframes sideWays {
        0% {
            margin-left: 0px;
        }

        100% {
            margin-left: 50px;
        }
    }
    @@-o-keyframes moveclouds {
        0% {
            top: 110vh;
        }

        100% {
            top: -30vh;
        }
    }

    @@-o-keyframes sideWays {
        0% {
            margin-left: 0px;
        }

        100% {
            margin-left: 50px;
        }
}
</style>