$image-size: 30vw;

$large-screen: 1700px;
$large-screen-image-size: 520px;

$small-screen-size: 775px;
$small-screen-image-size: 70vw;

.menu-item {
    display: inline-block;
    margin: 15px;
    width: $image-size;
    height: $image-size;
    vertical-align: middle;

    button, form {
        height: 100%;

        .title {
            span {
                font-family: Fun;
                font-size: 6vw;
            }
        }

        button {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0;
            border: 0;
        }

        img {
            display: inline-block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

@media (min-width: $large-screen) {
    .menu-item {
        width: $large-screen-image-size;
        height: $large-screen-image-size;

        button {
            img {
                width: $large-screen-image-size;
                height: $large-screen-image-size;
            }
        }
    }
}

@media (max-width: $small-screen-size) {
    .menu-item {
        width: $small-screen-image-size;
        height: $small-screen-image-size;

        button {
            img {
                width: $small-screen-image-size;
                height: $small-screen-image-size;
            }

            .title {
                span {
                    font-size: 18vw;
                }
            }
        }
    }
}