.menu-item {
  display: inline-block;
  margin: 15px;
  width: 30vw;
  height: 30vw;
  vertical-align: middle; }
  .menu-item button, .menu-item form {
    height: 100%; }
    .menu-item button .title span, .menu-item form .title span {
      font-family: Fun;
      font-size: 6vw; }
    .menu-item button button, .menu-item form button {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0;
      border: 0; }
    .menu-item button img, .menu-item form img {
      display: inline-block;
      object-fit: cover;
      width: 100%;
      height: 100%; }

@media (min-width: 1700px) {
  .menu-item {
    width: 520px;
    height: 520px; }
    .menu-item button img {
      width: 520px;
      height: 520px; } }

@media (max-width: 775px) {
  .menu-item {
    width: 70vw;
    height: 70vw; }
    .menu-item button img {
      width: 70vw;
      height: 70vw; }
    .menu-item button .title span {
      font-size: 18vw; } }
